<footer class="bg-cherry border-top p-3 text-center">
    <p class="text-light">&copy; 2020 Copyright: Balaji Durai </p>
    <div class="d-flex flex-row align-items-center justify-content-center ">
     <a href="https://www.facebook.com/balaji.durai.906" class="h4 rounded-circle bg-light mr-5"><i class="fa fa-facebook align-items-center justify-content-center" aria-hidden="true"></i></a>
     <a href="https://www.linkedin.com/in/balaji-durai-a216601ab/" class="h4 rounded-circle bg-light mr-5"><i class="fa fa-github align-items-center justify-content-center" aria-hidden="true"></i></a>
     <a href="https://github.com/Balaji-200" class="h4 rounded-circle bg-light"><i class="fa fa-linkedin align-items-center justify-content-center" aria-hidden="true"></i></a>
    </div>
</footer>

</body>

</html>